# packages in environment at /opt/anaconda3/envs/dash:
#
# Name                    Version                   Build  Channel
blas                      1.0                         mkl  
bottleneck                1.3.4            py39h67323c0_0  
brotli-python             1.0.9            py39h9fcab8e_6    conda-forge
ca-certificates           2022.4.26            hecd8cb5_0  
cachelib                  0.9.0                    pypi_0    pypi
certifi                   2022.6.15        py39hecd8cb5_0  
click                     8.0.1                    pypi_0    pypi
cycler                    0.11.0                   pypi_0    pypi
dash                      2.5.1              pyhd8ed1ab_0    conda-forge
dash-bootstrap-components 0.13.0                   pypi_0    pypi
dash-core-components      2.0.0                    pypi_0    pypi
dash-html-components      2.0.0                    pypi_0    pypi
dash-table                5.0.0                    pypi_0    pypi
dill                      0.3.5.1                  pypi_0    pypi
diskcache                 5.4.0                    pypi_0    pypi
editorconfig              0.12.3                   pypi_0    pypi
flask                     2.0.1                    pypi_0    pypi
flask-caching             1.11.1                   pypi_0    pypi
flask-compress            1.10.1                   pypi_0    pypi
fonttools                 4.37.1                   pypi_0    pypi
future                    0.18.2                   pypi_0    pypi
importlib-metadata        4.11.4           py39h6e9494a_0    conda-forge
intel-openmp              2021.4.0          hecd8cb5_3538  
itsdangerous              2.0.1                    pypi_0    pypi
jinja2                    3.0.1                    pypi_0    pypi
joblib                    1.1.0              pyhd3eb1b0_0  
jsbeautifier              1.14.4                   pypi_0    pypi
kiwisolver                1.4.4                    pypi_0    pypi
libcxx                    12.0.0               h2f01273_0  
libffi                    3.3                  hb1e8313_2  
libgfortran               3.0.1                h93005f0_2  
markupsafe                2.0.1                    pypi_0    pypi
matplotlib                3.5.3                    pypi_0    pypi
mkl                       2021.4.0           hecd8cb5_637  
mkl-service               2.4.0            py39h9ed2024_0  
mkl_fft                   1.3.1            py39h4ab4a9b_0  
mkl_random                1.2.2            py39hb2f4e1b_0  
more-itertools            8.13.0                   pypi_0    pypi
multiprocess              0.70.13                  pypi_0    pypi
ncurses                   6.2                  h0a44026_1  
numexpr                   2.8.3            py39h2e5f0a9_0  
numpy                     1.21.2                   pypi_0    pypi
numpy-base                1.22.3           py39h3b1a694_0  
openssl                   1.1.1q               hca72f7f_0  
packaging                 21.3               pyhd3eb1b0_0  
pandas                    1.4.2            py39he9d5cce_0  
pillow                    9.2.0                    pypi_0    pypi
pip                       21.2.4           py37hecd8cb5_0  
plotly                    5.2.2                    pypi_0    pypi
psutil                    5.9.1                    pypi_0    pypi
pyparsing                 3.0.4              pyhd3eb1b0_0  
python                    3.9.6                h88f2d9e_1  
python-dateutil           2.8.2              pyhd3eb1b0_0  
python_abi                3.9                      2_cp39    conda-forge
pytz                      2022.1           py39hecd8cb5_0  
readline                  8.1                  h9ed2024_0  
scienceplots              1.0.9                    pypi_0    pypi
scipy                     1.7.3            py39h8c7af03_0  
setuptools                52.0.0           py39hecd8cb5_0  
six                       1.16.0             pyhd3eb1b0_1  
sqlite                    3.36.0               hce871da_0  
tenacity                  8.0.1            py39hecd8cb5_0  
tk                        8.6.10               hb0a8c7a_0  
tzdata                    2021a                h5d7bf9c_0  
werkzeug                  2.0.1                    pypi_0    pypi
wheel                     0.37.0             pyhd3eb1b0_0  
xz                        5.2.5                h1de35cc_0  
zipp                      3.8.0              pyhd8ed1ab_0    conda-forge
zlib                      1.2.11               h1de35cc_3  
